@model List<Community>

<h5>Your Communities</h5>
<ul class="nav flex-column">
    @foreach (var community in Model)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Community" asp-action="Details" asp-route-id="@community.Id">
                @community.Name
            </a>
        </li>
    }
</ul>